<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Lista de préstamos</h2>
    <button class="btn btn-primary btn-sm" (click)="goToCreate()">
      Registrar préstamo
    </button>
  </div>
  @if (loans.length > 0){
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Libro</th>
        <th>Estudiante</th>
        <th>Matricula de estudiante</th>
        <th>Fecha de prestamo</th>
        <th>Fecha de devolución</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (loan of loans; track loan.id; let i = $index) {
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ loan.book.title }}</td>
        <td>{{ loan.student.name }}</td>
        <td>{{ loan.student.studentNumber }}</td>
        <td>{{ loan.loanDate  | date: 'dd/MM/yyyy'}}</td>
        <td>{{ loan.returnDate  | date: 'dd/MM/yyyy' }}</td>
        <td>
          <button class="btn btn-secondary btn-sm me-2" (click)="goToEdit(loan.id)">
            Editar
          </button>
          <button class="btn btn-danger btn-sm" (click)="deleteLoan(loan.id)">
            Eliminar
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
    <div class="container text-center mt-5">
      <div class="card border-0 shadow p-4 py-5">
        <h1 class="display-4 text-muted mb-3">📆 Sin registros</h1>
        <p class="lead text-muted mb-4">¡Registra un nuevo préstamo para ver algo aquí!</p>
      </div>
    </div>
  }
</div>
