<div class="container">
  <h2>Lista de prestamos</h2>
  <button class="btn btn-primary btn-sm" (click)="goToCreate()">
    Registrar prestamo
  </button>
  @if (loans.length > 0){
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Libro</th>
        <th>Estudiante</th>
        <th>Matricula de estudiante</th>
        <th>Fecha de prestamo</th>
        <th>Fecha de devolución</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (loan of loans; track loan.id; let i = $index) {
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ loan.book.title }}</td>
        <td>{{ loan.student.name }}</td>
        <td>{{ loan.student.studentNumber }}</td>
        <td>{{ loan.loanDate  | date: 'dd/MM/yyyy'}}</td>
        <td>{{ loan.returnDate  | date: 'dd/MM/yyyy' }}</td>
        <td>
          <button class="btn btn-secondary btn-sm me-2" (click)="goToEdit(loan.id)">
            Editar
          </button>
          <button class="btn btn-danger btn-sm" (click)="deleteLoan(loan.id)">
            Eliminar
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
  <h3>Sin registros.</h3>
  <p>Registra un nuevo libro para ver algo aquí!!</p>
  }
</div>
