<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Lista de Libros</h2>
    <button class="btn btn-primary btn-sm" (click)="goToCreate()">
      Agregar libro
    </button>
  </div>
  @if (books.length > 0){
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Autor</th>
        <th>ISBN</th>
        <th>Cantidad</th>
        <th>Disponibles</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (book of books; track book.id; let i = $index) {
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.quantity }}</td>
        <td>{{ book.available }}</td>
        <td>
          <button class="btn btn-secondary btn-sm me-2" (click)="goToEdit(book.id)">
            Editar
          </button>
          <button class="btn btn-danger btn-sm" (click)="deleteBook(book.id)">
            Eliminar
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
    <div class="container text-center mt-5">
      <div class="card border-0 shadow p-4 py-5">
        <h1 class="display-4 text-muted mb-3">📚 Sin registros</h1>
        <p class="lead text-muted mb-4">¡Registra un nuevo libro para ver algo aquí!</p>
      </div>
    </div>
  }
</div>
